.clear {
  clear: both;
}
.tile {
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 5px;
  opacity: 0.75;
}
.tile h1,
.tile h2,
.tile h3,
.tile h4,
.tile h5,
.tile h6 {
  color: white;
  -webkit-user-select: none;
}
.tile h2 {
  font-size: 1.75em;
  margin-top: -10px;
  margin-left: 0px;
}
.tile a:hover {
  text-decoration: none;
}
.tilehead {
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-transition: -webkit-transform 0.2s;
  float: left;
  margin-right: 10px;
  text-align: center;
  padding: 5px;
  opacity: 0.75;
}
.tile img {
  border: 0;
}
.tile.active {
  opacity: 1;
}
.tiles {
  clear: both;
  overflow: hidden;
}
.tilerow {
  float: left;
  -webkit-perspective: 0;
  -webkit-transform-style: preserve-3d;
  -webkit-user-select: none;
}
.one {
  width: 105px;
  height: 61px;
}
.onehead {
  width: 105px;
}
.two-h {
  width: 230px;
  height: 61px;
}
.two-v {
  width: 105px;
  height: 230px;
}
.firstcol,
.secondcol,
.thirdcol,
.fourthcol,
.fifthcol {
  position: absolute;
}
.secondcol {
  margin-left: 125px;
}
.thirdcol {
  margin-left: 250px;
}
.fourthcol {
  margin-left: 375px;
}
.fifthcol {
  margin-left: 500px;
}
