html,
body {
  height: 100%;
  font-size: 12px;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Helvetica Neue", HelveticaNeue, Verdana, Arial, sans-serif;
  -webkit-user-select: none;
  overflow: hidden;
  background-color: white;
}
body {
  /*
	 background-color:#ECEFF6;
	 background-image:linear-gradient(top, #ECEFF6 0%, #D8DEEA 51%);
	 background-image:-webkit-linear-gradient(top, #ECEFF6 0%, #D8DEEA 51%);
	 background-image:-ms-linear-gradient(top, #ECEFF6 0%, #D8DEEA 51%);
	 background-image:-webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0, #ECEFF6),
			color-stop(0.51, #D8DEEA)
	 );
	 */

}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
html {
  display: table;
}
a {
  text-decoration: none;
}
h3 {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
canvas {
  margin: 0;
  padding: 0;
  position: relative;
  width: 66px;
  height: 66px;
}
.canvBtn {
  margin: 0;
  padding: 0;
  float: left;
  width: 66px;
  height: 66px;
  background-repeat: no-repeat;
}
.canvBtn:active {
  background: #aaaaaa;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-device-pixel-ratio: 1.5) {
  .canvBtn {
    background-size: 100%;
  }
}
.heading {
  text-align: center;
  border-bottom: 1px solid #d5d5d5;
  clear: left;
  height: 8px;
}
.heading h1 {
  display: inline-block;
  position: relative;
  background: #fff;
  padding: 0 4px;
  font-size: 0.8em;
}
.obars {
  position: absolute;
  top: 0px;
  bottom: 45px;
}
#scrollbars {
  width: 10px;
  right: 0px;
  opacity: 0.2;
}
#playbars {
  right: 10px;
  width: 10px;
  opacity: 0.3;
}
.oticks {
  height: 8.333%;
}
.oticks.high {
  background-color: grey;
}
.overviewBar {
  height: 100%;
}
#bars {
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  position: absolute;
  top: 0px;
  bottom: 45px;
  border-bottom: 1px solid #B2B2B2;
  left: 0px;
  right: 0px;
}
#synthNav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
}
#djNav {
  position: absolute;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 55px;
}
#djNavLine {
  position: absolute;
  background-color: white;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 45px;
  border-top: 1px solid #B2B2B2;
}
.wrapper {
  position: relative;
  float: left;
  width: 100%;
  right: 20px;
}
.wrapper:nth-child(5n+4) {
  border-bottom: 15px solid transparent;
}
.wrapper:nth-child(5n+6) {
  border-top: 15px solid transparent;
}
.left1 {
  position: relative;
  float: left;
  width: 33%;
  height: 50px;
  overflow: visible;
  opacity: 0.3;
  background-image: url(../img/hit-grey.png);
  background-repeat: no-repeat;
  background-position: center;
}
.hit.left1 {
  opacity: 1;
  background-image: url(../img/hit-blue.png);
}
.high .hit.left1 {
  background-image: url(../img/hit-blue-high.png);
}
.left2 {
  position: relative;
  float: left;
  width: 33%;
  height: 50px;
  background-image: url(../img/hit-grey.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.hit.left2 {
  opacity: 1;
  background-image: url(../img/hit-lime.png);
}
.high .hit.left2 {
  background-image: url(../img/hit-lime-high.png);
}
.left3 {
  position: relative;
  float: left;
  width: 33%;
  height: 50px;
  background-image: url(../img/hit-grey.png);
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
}
.hit.left3 {
  opacity: 1;
  background-image: url(../img/hit-magenta.png);
}
.high .hit.left3 {
  background-image: url(../img/hit-magenta-high.png);
}
.ui {
  height: 100%;
  width: 100%;
}
.uitab {
  height: 100%;
  width: 100%;
  display: none;
}
.active {
  display: block;
}
#ui {
  display: -webkit-box;
  -webkit-box-pack: center;
  -webkit-box-align: center;
}
.app {
  background-repeat: no-repeat;
  margin: 0px auto;
  width: 275px;
}
.app2 {
  background-image: url(../img/sharewith.jpg);
  background-repeat: no-repeat;
  margin: 0px auto;
  width: 275px;
}
.recordui {
  position: absolute;
  background-image: url(../img/RecordScreen.png);
  background-repeat: no-repeat;
  background-position: center;
}
.tutor,
.DJTutor {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 1000;
}
#tutor1 {
  background-image: url(../img/tutor1.png);
}
#tutor2 {
  background-image: url(../img/tutor2.png);
}
#tutor3 {
  background-image: url(../img/tutor3.png);
}
#tutor4 {
  background-image: url(../img/tutor4.png);
}
.btn {
  border: 1px solid #AD9574;
  text-decoration: none;
  padding: 10px 25px;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 10px;
  text-align: center;
  color: #AD9574;
}
#demoBtn {
  float: right;
  margin: 10px;
}
#tutorialBtn {
  float: left;
  margin: 10px;
}
#recordBtn {
  position: absolute;
  left: 50%;
  margin-left: -61px;
  bottom: 20px;
  padding: 25px;
}
#stopBtn {
  position: absolute;
  left: 50%;
  margin-left: -61px;
  bottom: 20px;
  padding: 25px;
  background: red;
  color: white;
  border: none;
}
#processingBtn {
  position: absolute;
  left: 50%;
  margin-left: -61px;
  bottom: 20px;
  padding: 25px;
  background: #AD9574;
  color: white;
}
#micHome {
  position: absolute;
  left: 100px;
  top: 120px;
}
#recordLevelCenter {
  position: absolute;
  width: 100%;
  height: 100%;
}
#recordLevelBack {
  position: absolute;
  background-image: url(../img/RecordBackElectro.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 50%;
  left: 50%;
  height: 160px;
  width: 75px;
  margin-top: -112px;
  /* Half the height + 65*/

  margin-left: -38px;
}
#recordLevel {
  background: -webkit-linear-gradient(bottom, #ffffff 0%, rgba(255, 255, 255, 0) 0%, #ffffff 0%);
  height: 100%;
  width: 100%;
}
h1 {
  font-size: 2em;
  font-weight: 300;
  margin: 0px;
  overflow: visible;
  padding: 0px;
  text-align: center;
}
.status {
  background-color: #333333;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  color: #FFFFFF;
  font-size: 1em;
  margin: 0px auto;
  padding: 2px 10px;
  text-align: center;
  width: 100%;
  max-width: 175px;
}
.record {
  background-color: #4B946A;
  vertical-align: middle;
}
.stoprecord {
  background-color: rgba(255, 0, 0, 0.81);
}
.hide {
  display: none;
}
@keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
@-webkit-keyframes fade {
  from {
    opacity: 1.0;
  }
  50% {
    opacity: 0.4;
  }
  to {
    opacity: 1.0;
  }
}
.blink {
  animation: fade 3000ms infinite;
  -webkit-animation: fade 3000ms infinite;
}
/* portrait */
/* @media screen and (max-aspect-ratio: 1/1) */
.app {
  background-position: center top;
  height: 100px;
  /* adds enough room for text */

  padding: 180px 0px 0px 0px;
  /* background height - shadow offset */

}
/* lanscape (when wide enough) */
@media screen and (min-aspect-ratio: 1/1) and (min-width: 445px) {
  .app {
    background-position: left center;
    height: 140px;
    /* height + padding = background image size */
  
    padding-left: 170px;
    /* background width */
  
    padding-top: 60px;
    /* center the text */
  
  }
}
.fulltable {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
.x100 {
  background-color: #1BA1E2;
  opacity: 0.7;
}
.x100.highlighted {
  box-shadow: 4px 0px 50px 0px rgba(0, 0, 0, 0.2) inset;
  opacity: 1;
}
#content {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}
#matrix {
  width: 100%;
  height: 85%;
  margin: 0;
  padding: 0;
  float: left;
}
.dww li {
  list-style: none;
  margin: 0;
  padding: 0 5px;
  display: block;
  text-align: center;
  line-height: 40px;
  font-size: 26px;
  white-space: nowrap;
  text-shadow: 0 1px 1px black;
  vertical-align: bottom;
  border-bottom: 1px solid white;
}
.dww li:hover {
  background-color: #E37F2A;
}
.dww ul {
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 2;
  color: white;
  font-family: arial, verdana, sans-serif;
  font-size: 12px;
  text-shadow: none;
  -webkit-padding-start: 0px;
}
#swipeDJSampleLayover,
#swipeSampleLayover {
  position: absolute;
  display: none;
  bottom: 5px;
  left: 150px;
  width: 150px;
  color: black;
  font-family: arial, verdana, sans-serif;
  font-size: 24px;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.6);
}
#swipeDJVolumeLayover,
#swipeVolumeLayover {
  position: absolute;
  display: none;
  top: 5px;
  left: 150px;
  width: 150px;
  color: black;
  font-family: arial, verdana, sans-serif;
  font-size: 24px;
  text-shadow: none;
  background-color: rgba(255, 255, 255, 0.6);
}
#sshare {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  margin-top: -45px;
}
